#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container__our{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 1rem;
}

@media (min-width: 768px){
  .container__our{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
